<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740176827982-drra7td4uq9r313uvg41nocovh65nn23.apps.googleusercontent.com</string>
	<key>REverse_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740176827982-drra7td4uq9r313uvg41nocovh65nn23</string>
	<key>API_KEY</key>
	<string>AIzaSyCPINzhpbCFobKzDSCek_19UjxJLVGkfNg</string>
	<key>GCM_SENDER_ID</key>
	<string>740176827982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gestionDeStock</string>
	<key>PROJECT_ID</key>
	<string>gds-pro-9159b</string>
	<key>STORAGE_BUCKET</key>
	<string>gds-pro-9159b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740176827982:ios:86f4c69431edacbc18951f</string>
</dict>
</plist>